<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastrar UC - Simulação Saep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon-8fd74f43.ico" />
    <script type="module" crossorigin src="assets/theme-e4584917.js"></script>
    <link rel="stylesheet" href="assets/theme-d32f8eb8.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>

    <div class="min-h-screen flex flex-col lg:ps-64 w-full">
      <!-- Header -->
      <%- include('partials/header') %>

      <div class="w-full mx-auto">
        <div class="bg-white shadow-md rounded-lg p-8">
          <h2 class="text-2xl font-semibold text-center mb-6 text-primary">
            Cadastrar Matéria
          </h2>

          <form action="/cadastrar-materia" method="POST">
            <div class="mb-4">
              <label
                for="curso_id"
                class="block text-base font-semibold text-default-900 mb-2"
                >Curso</label
              >
              <select
                name="curso_id"
                id="curso_id"
                required
                class="border border-gray-300 rounded-md w-full p-2"
              >
                <% cursos.forEach(curso => { %>
                <option value="<%= curso.id %>"><%= curso.nome %></option>
                <% }); %>
              </select>
            </div>

            <div class="mb-4">
              <label
                for="nome_materia"
                class="block font-semibold text-gray-700"
                >Nome da UC:</label
              >
              <input
                type="text"
                name="nome_materia"
                id="nome_materia"
                required
                class="border border-gray-300 rounded-md w-full p-2"
              />
            </div>

            <div class="text-center mt-6">
              <button
                type="submit"
                class="bg-primary text-white px-6 py-2 rounded-md"
              >
                Cadastrar
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Footer -->
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
