<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Cadastrar Questões</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon-8fd74f43.ico" />
    <script type="module" crossorigin src="assets/theme-e4584917.js"></script>
    <link rel="stylesheet" href="assets/theme-d32f8eb8.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
      .modal-overlay {
        z-index: 9999;
      }
      .swal2-container {
        z-index: 100000 !important;
      }
    </style>
  </head>
  <body>
    <%- include('partials/sidebar') %>
    <div class="min-h-screen flex flex-col lg:ps-64 w-full">
      <%- include('partials/header') %>
      <div class="p-6 space-y-6">
        <!-- Título -->
        <div class="flex items-center justify-between w-full print:hidden">
          <h4 class="text-lg font-semibold text-default-900">
            Lista de Questões
          </h4>
        </div>
        <!-- Cartão com total de Questões -->
        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-6">
          <div class="shadow rounded-lg bg-white dark:bg-default-50">
            <div class="p-5">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-base font-semibold text-default-600">
                    Total de Questões
                  </p>
                  <h4 class="text-2xl font-semibold text-default-900 mt-4">
                    <%= totalRows %>
                  </h4>
                </div>
                <span
                  class="shrink h-18 w-18 inline-flex items-center justify-center rounded-lg bg-primary/20 text-primary"
                >
                  <i class="ph ph-question text-4xl"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Área de busca e botão de cadastro -->
        <div class="flex flex-wrap items-center justify-between py-4 px-5">
          <div class="relative flex">
            <input
              type="search"
              class="ps-12 pe-4 py-2.5 block lg:w-64 border-none bg-default-100 text-default-700 rounded-lg text-sm focus:border-primary focus:ring-primary"
              placeholder="Procurar questão..."
            />
            <span class="absolute start-4 top-2.5">
              <i
                class="ph-duotone ph-magnifying-glass text-lg text-default-600"
              ></i>
            </span>
          </div>
          <!-- Link para a página de cadastro de questão -->
          <a
            href="/cadastrar-questao"
            class="py-2 px-4 inline-flex items-center justify-center font-semibold tracking-wide text-xs bg-primary hover:bg-primary-500 text-white rounded"
          >
            <i class="ph-duotone ph-plus-circle text-lg/none me-3"></i>
            Adicionar Questão
          </a>
        </div>

        <!-- Tabela de Questões -->
        <div class="shadow rounded-lg bg-white dark:bg-default-50 h-fit">
          <div
            class="border-t border-dashed border-default-200 relative overflow-x-auto"
          >
            <table class="min-w-full">
              <thead class="border-b border-dashed border-default-200">
                <tr>
                  <th class="px-6 py-3 text-left text-sm font-semibold">Id</th>
                  <th class="px-6 py-3 text-left text-sm font-semibold">
                    Título
                  </th>
                  <th class="px-6 py-3 text-left text-sm font-semibold">
                    Curso
                  </th>
                  <th class="px-6 py-3 text-left text-sm font-semibold">
                    Matéria
                  </th>
                  <th class="px-6 py-3 text-left text-sm font-semibold">
                    Enunciado
                  </th>
                  <th class="px-3 py-3 text-center text-sm font-semibold">
                    Ação
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-dashed divide-default-200">
                <% if (questoes && questoes.length > 0) { %> <%
                questoes.forEach(function(questao) { %>
                <tr>
                  <td class="px-6 py-3"><%= questao.id %></td>
                  <td class="px-6 py-3"><%= questao.titulo %></td>
                  <td class="px-6 py-3"><%= questao.curso %></td>
                  <td class="px-6 py-3"><%= questao.materia %></td>
                  <td class="px-6 py-3"><%= questao.enunciado %></td>
                  <td class="px-3 py-3 text-center">
                    <div class="flex items-center justify-center gap-2">
                      <!-- Botão para abrir modal de edição -->
                      <a
                        href="#"
                        class="edit-questao inline-flex items-center justify-center h-8 w-8 rounded-md bg-cyan-500/20 text-cyan-500 transition-all duration-200 hover:bg-cyan-500 hover:text-white"
                        data-id="<%= questao.id %>"
                        data-titulo="<%= questao.titulo %>"
                        data-curso_id="<%= questao.curso_id %>"
                        data-materia_id="<%= questao.materia_id %>"
                        data-enunciado="<%= questao.enunciado %>"
                        data-alternativa_a="<%= questao.alternativa_a %>"
                        data-alternativa_b="<%= questao.alternativa_b %>"
                        data-alternativa_c="<%= questao.alternativa_c %>"
                        data-alternativa_d="<%= questao.alternativa_d %>"
                        data-resposta_correta="<%= questao.resposta_correta %>"
                      >
                        <i
                          class="ph-duotone ph-pencil-simple-line text-base"
                        ></i>
                      </a>
                      <!-- Botão para exclusão -->
                      <button
                        class="delete-questao inline-flex items-center justify-center h-8 w-8 rounded-md bg-red-500/20 text-red-500 transition-all duration-200 hover:bg-red-500 hover:text-white"
                        data-id="<%= questao.id %>"
                      >
                        <i class="ph-duotone ph-trash text-base"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <% }); %> <% } else { %>
                <tr>
                  <td colspan="6" class="text-center py-6">
                    Nenhuma questão cadastrada.
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- Paginação -->
          <div
            class="flex items-center justify-between py-3 px-6 border-t border-dashed border-default-200"
          >
            <h6 class="text-default-600">
              Mostrando <%= (currentPage - 1) * 10 + 1 %> a <%= (currentPage *
              10 > totalRows ? totalRows : currentPage * 10) %> de <%= totalRows
              %>
            </h6>
            <nav class="flex items-center gap-1">
              <% if (currentPage > 1) { %>
              <a
                class="inline-flex items-center justify-center h-8 w-8 border rounded-md transition-all duration-200 hover:bg-primary hover:text-white"
                href="/questoes?page=<%= currentPage - 1 %>"
              >
                <i class="ph ph-caret-left text-base"></i>
              </a>
              <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
              <a
                class="inline-flex items-center justify-center h-8 w-8 border rounded-md transition-all duration-200 <%= currentPage === i ? 'bg-primary text-white' : 'hover:bg-primary hover:text-white' %>"
                href="/questoes?page=<%= i %>"
              >
                <%= i %>
              </a>
              <% } %> <% if (currentPage < totalPages) { %>
              <a
                class="inline-flex items-center justify-center h-8 w-8 border rounded-md transition-all duration-200 hover:bg-primary hover:text-white"
                href="/questoes?page=<%= currentPage + 1 %>"
              >
                <i class="ph ph-caret-right text-base"></i>
              </a>
              <% } %>
            </nav>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>

    <!-- Modal para Edição de Questão -->

    <script>
      $(document).ready(function () {
        // Cadastro de Questão: abrir e fechar modal
        $("#open-modal-questao").click(function () {
          $("#modal-questao").removeClass("hidden");
        });
        $("#close-modal-questao").click(function () {
          $("#modal-questao").addClass("hidden");
        });
        $("#form-cadastrar-questao").submit(function (event) {
          event.preventDefault();
          $.ajax({
            url: "/cadastrar-questao",
            type: "POST",
            data: $(this).serialize(),
            success: function (response) {
              $("#modal-questao").addClass("hidden");
              Swal.fire({
                title: response.message.includes("sucesso")
                  ? "Sucesso!"
                  : "Erro!",
                text: response.message.includes("sucesso")
                  ? "Questão cadastrada com sucesso!"
                  : response.message,
                icon: response.message.includes("sucesso")
                  ? "success"
                  : "error",
                confirmButtonText: "OK",
                timer: 5000,
                timerProgressBar: true,
              }).then(() => {
                window.location.href = "/questoes?page=1";
              });
            },
            error: function (xhr) {
              $("#modal-questao").addClass("hidden");
              let errorMsg =
                (xhr.responseJSON && xhr.responseJSON.error) ||
                "Erro ao cadastrar questão.";
              Swal.fire({
                title: "Erro!",
                text: errorMsg,
                icon: "error",
                confirmButtonText: "OK",
                timer: 5000,
                timerProgressBar: true,
              });
            },
          });
        });

        // Exclusão de Questão
        $(document).on("click", ".delete-questao", function (e) {
          e.preventDefault();
          const questaoId = $(this).data("id");
          Swal.fire({
            title: "Tem certeza?",
            text: "Esta ação não pode ser desfeita.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim, excluir!",
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: "/deletar-questao/" + questaoId,
                type: "GET", // ou "DELETE" se configurado
                success: function (response) {
                  Swal.fire(
                    "Excluída!",
                    "A questão foi excluída com sucesso.",
                    "success"
                  ).then(() => {
                    window.location.reload();
                  });
                },
                error: function (xhr) {
                  Swal.fire(
                    "Erro!",
                    "Não foi possível excluir a questão.",
                    "error"
                  );
                },
              });
            }
          });
        });

        // Edição de Questão: abrir modal com dados preenchidos
        $(document).on("click", ".edit-questao", function (e) {
          e.preventDefault();
          const id = $(this).data("id");
          const titulo = $(this).data("titulo");
          const curso_id = $(this).data("curso_id");
          const materia_id = $(this).data("materia_id");
          const enunciado = $(this).data("enunciado");
          const alternativa_a = $(this).data("alternativa_a");
          const alternativa_b = $(this).data("alternativa_b");
          const alternativa_c = $(this).data("alternativa_c");
          const alternativa_d = $(this).data("alternativa_d");
          const resposta_correta = $(this).data("resposta_correta");
          $("#edit_questao_id").val(id);
          $("#edit_questao_titulo").val(titulo);
          $("#edit_questao_curso_id").val(curso_id);
          $("#edit_questao_materia_id").val(materia_id);
          $("#edit_questao_enunciado").val(enunciado);
          $("#edit_questao_alternativa_a").val(alternativa_a);
          $("#edit_questao_alternativa_b").val(alternativa_b);
          $("#edit_questao_alternativa_c").val(alternativa_c);
          $("#edit_questao_alternativa_d").val(alternativa_d);
          $("#edit_questao_resposta_correta").val(resposta_correta);
          $("#modal-editar-questao").removeClass("hidden");
        });
        $("#close-edit-modal-questao").click(function () {
          $("#modal-editar-questao").addClass("hidden");
        });
        $("#form-editar-questao").submit(function (e) {
          e.preventDefault();
          Swal.fire({
            title: "Tem certeza?",
            text: "Deseja salvar as alterações nesta questão?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim, editar!",
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: "/editar-questao",
                type: "POST",
                data: $("#form-editar-questao").serialize(),
                success: function (response) {
                  Swal.fire(
                    "Editada!",
                    "Questão editada com sucesso!",
                    "success"
                  ).then(() => {
                    window.location.reload();
                  });
                },
                error: function (xhr) {
                  let errorMsg =
                    (xhr.responseJSON && xhr.responseJSON.error) ||
                    "Erro ao editar questão.";
                  Swal.fire("Erro!", errorMsg, "error");
                },
              });
            }
          });
        });
      });
    </script>
  </body>
</html>
