<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Detalhes do Simulado</title>
    <link rel="stylesheet" href="../../assets/theme-d32f8eb8.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="../../assets/favicon-8fd74f43.ico" />
  </head>
  <body>
    <div class="min-h-screen flex flex-col lg:ps-64 w-full">
      <%- include('partials/header') %>
      <div class="p-6 space-y-6">
        <!-- Botão Voltar reposicionado na parte superior e com estilo mais visível -->
        <div class="mb-4">
          <a
            href="/admin/dashboard"
            class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-blue-600 hover:bg-blue-700 border-blue-600 hover:border-blue-700 text-white rounded"
          >
            <i class="ph ph-skip-back text-lg"></i>Voltar
          </a>
        </div>

        <h4 class="text-lg font-semibold text-default-900">
          Detalhes do Simulado <%= simuladoId %>
        </h4>
        <% if (message) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- Grid com os cartões de informações -->
        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-6">
          <div class="shadow rounded-lg bg-white dark:bg-default-50">
            <div class="p-5">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-base font-semibold text-default-600">
                    Quantidade de alunos do simulado
                  </p>
                  <h4 class="text-2xl font-semibold text-default-900 mt-4">
                    <%= totalStudents %>
                  </h4>
                </div>
                <span
                  class="shrink h-18 w-18 inline-flex items-center justify-center rounded-lg bg-primary/20 text-primary"
                >
                  <i class="ph ph-student text-4xl"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="shadow rounded-lg bg-white dark:bg-default-50">
            <div class="p-5">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-base font-semibold text-default-600">
                    Alunos com nota acima de 70%
                  </p>
                  <h4 class="text-2xl font-semibold text-default-900 mt-4">
                    <%= above70 %>
                  </h4>
                </div>
                <span
                  class="shrink h-18 w-18 inline-flex items-center justify-center rounded-lg bg-green-500/20 text-green-500"
                >
                  <i class="ph ph-exam text-4xl"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="shadow rounded-lg bg-white dark:bg-default-50">
            <div class="p-5">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-base font-semibold text-default-600">
                    Alunos com nota Inferior a 70%
                  </p>
                  <h4 class="text-2xl font-semibold text-default-900 mt-4">
                    <%= below70 %>
                  </h4>
                </div>
                <span
                  class="shrink h-18 w-18 inline-flex items-center justify-center rounded-lg bg-red-500/20 text-red-500"
                >
                  <i class="ph ph-shield-warning text-4xl"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="shadow rounded-lg bg-white dark:bg-default-50">
            <div class="p-5">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-base font-semibold text-default-600">
                    Média da turma
                  </p>
                  <h4 class="text-2xl font-semibold text-default-900 mt-4">
                    <%= averageGrade %>
                  </h4>
                </div>
                <span
                  class="shrink h-18 w-18 inline-flex items-center justify-center rounded-lg bg-red-500/20 text-red-500"
                >
                  <i class="ph ph-graduation-cap text-4xl"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Campo de Pesquisa e Botão de Exportar para Excel -->
        <div class="flex items-center justify-between py-4 px-5">
          <div class="relative flex">
            <input
              type="search"
              id="searchAluno"
              class="ps-12 pe-4 py-2.5 block lg:w-64 border-none bg-default-100 text-default-700 rounded-lg text-sm focus:border-primary focus:ring-primary"
              placeholder="Procurar aluno..."
            />
            <span class="absolute start-4 top-2.5">
              <i
                class="ph-duotone ph-magnifying-glass text-lg text-default-600"
              ></i>
            </span>
          </div>
          <!-- Botão de Exportar para Excel -->
          <div>
            <button
              id="btnExportExcel"
              class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white rounded"
            >
              <i class="ph ph-download text-lg"></i> Exportar Excel
            </button>
          </div>
        </div>

        <!-- Tabela de Detalhes do Simulado -->
        <div class="shadow rounded-lg bg-white dark:bg-default-50 h-fit">
          <div class="p-5">
            <% if (detalhes.length > 0) { %>
            <div class="overflow-x-auto">
              <table class="min-w-full" id="tabelaAlunos">
                <thead class="border-b border-dashed border-default-200">
                  <tr>
                    <th
                      class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                    >
                      Aluno
                    </th>
                    <th
                      class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                    >
                      Nota
                    </th>
                    <th
                      class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                    >
                      Total de Respostas
                    </th>
                    <th
                      class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                    >
                      Acertos
                    </th>
                    <th
                      class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                    >
                      Erros
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-dashed divide-default-200">
                  <% detalhes.forEach(function(item) { %>
                  <tr>
                    <td class="px-6 py-3"><%= item.aluno %></td>
                    <td class="px-6 py-3">
                      <% const grade = parseFloat(item.nota); %> <% if
                      (!isNaN(grade)) { %> <% if (grade < 70) { %>
                      <span class="text-red-500"><%= item.nota %></span>
                      <% } else if (grade === 70) { %>
                      <span class="text-yellow-500"><%= item.nota %></span>
                      <% } else { %>
                      <span class="text-green-500"><%= item.nota %></span>
                      <% } %> <% } else { %>
                      <span><%= item.nota %></span>
                      <% } %>
                    </td>
                    <td class="px-6 py-3"><%= item.total_respostas %></td>
                    <td class="px-6 py-3"><%= item.acertos %></td>
                    <td class="px-6 py-3"><%= item.erros %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <% } else { %>
            <p class="p-5">Nenhum aluno realizou este simulado.</p>
            <% } %>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>

    <!-- Script para filtrar a tabela de alunos conforme o valor digitado no campo de pesquisa -->
    <script>
      $(document).ready(function () {
        $("#searchAluno").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#tabelaAlunos tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });

      // Função para exportar a tabela para Excel
      function exportTableToExcel(tableID, filename = "") {
        var dataType = "application/vnd.ms-excel";
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, "%20");

        filename = filename ? filename + ".xls" : "excel_data.xls";
        var downloadLink = document.createElement("a");
        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
          var blob = new Blob(["\ufeff", tableSelect.outerHTML], {
            type: dataType,
          });
          navigator.msSaveOrOpenBlob(blob, filename);
        } else {
          downloadLink.href = "data:" + dataType + ", " + tableHTML;
          downloadLink.download = filename;
          downloadLink.click();
        }
      }

      // Evento para o botão de exportação
      document
        .getElementById("btnExportExcel")
        .addEventListener("click", function () {
          exportTableToExcel("tabelaAlunos", "dados_simulado");
        });
    </script>
  </body>
</html>
